* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    height: auto;
    margin: 0;
    background-color: #000000;
    color: white;
    padding: 30px auto;
    text-align: center;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

footer>p {
    color: white;
}

h1 {
    font-weight: 700;
    color: rgb(204, 24, 0);
    text-align: center;
    font-size: 40px;
}

h2 {
    color: rgb(36, 84, 197);
    padding-top: 20px;
    font-size: 25px;
}

p {
    color: #404040;
    font-size: 15px;
}

li {

    padding-top: 5px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 15px;
}

ul {
    display: inline-block;
    margin: 0 auto;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    /*places the video background under accompanying content.*/
}

.site-name {
    color: rgb(212, 61, 23);
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topnav {
    font-size: 20px;
    margin: 0 auto;
    padding-top: auto;
    padding-bottom: 20px;
    font-weight: bolder;
}

.topnav a {
    color: white;
    padding: 30px 30px;
    margin: 0 auto;
}

.main-intro {
    background-color: rgba(212, 212, 212, 0.78);    
    box-sizing: border-box;
    color: rgb(75, 79, 88);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    width: auto;
    height: fit-content;
    /* word-wrap: break-word; */
}

.main-climate-change {
    background-color: rgba(212, 212, 212, 0.78);    
    box-sizing: border-box;
    color: rgb(75, 79, 88);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    width: auto;
    height: fit-content;
}

.main-climate-change > h2 {
    margin-top: 15px;
}

.main-stats {
    background-color: rgba(212, 212, 212, 0.78);    
    box-sizing: border-box;
    color: rgb(75, 79, 88);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13.680000305175781px;
    font-style: normal;
    font-weight: normal;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    width: auto;
    height: fit-content;
}

.main-list>h2 {
    padding-top: 20px;
    color: rgb(36, 84, 197);
}

.main-list>ul {
    padding: 10px;
    color: rgb(0, 0, 0);
}

.main-list>li {
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 7px;
    font-weight: bold;
}

.graph-img {
    margin: 0 auto;
    display: block;
    padding: 30px;
    padding-bottom: 0;
}

.stats-img {
    margin: 0 auto;
    display: block;
    padding: 30px;
    width: 900px;
    height: 315px;
    padding-bottom: 0;
}

.main-conclusion {
    background-color: rgba(168, 168, 168, 0.788);
    box-sizing: border-box;
    color: rgb(75, 79, 88);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13.680000305175781px;
    font-style: normal;
    font-weight: normal;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    width: auto;
    height: fit-content;
}

.main-conclusion>h2 {
    color: rgb(228, 88, 24);
    font-weight: bold;
    line-height: 200%;
    padding: 5px;
}

.quote {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: rgb(39, 143, 8);
    line-height: normal;
    text-align: center;
}