* {
    margin: 0;
    padding: 0;
    text-align: center;
    /*font-family: 'Roboto', sans-serif;*/
}

main {
    /* background: rgba(170, 170, 170, 0.6); */
    margin: 0;
}

header {
    /* background-image: url("home-images/matt-chesin-9nVF3PK0cqY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: #050511ab; */
    height: auto;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #000000;
    color: white;
    padding: 30px auto;
    text-align: center;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

footer > p {
    color: white;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: rgb(226, 95, 19);
    text-align: center;
    font-size: 40px;
}

h2 {
    color: rgb(36, 84, 197);
    padding-top: 20px;
    font-size: 25px;
}

p {
    color: #404040;
}

li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 15px;
}

ul {
    display: inline-block;
    margin: 0 auto;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    /*places the video background under accompanying content.*/
}

.site-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    /*color: rgb(218, 24, 24);*/
    color: rgb(212, 61, 23);
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topnav {
    font-size: 20px;
    margin: 0 auto;
    padding-top: auto;
    padding-bottom: 20px;
    font-weight: bolder;
}

.topnav a {
    color: white;
    padding: 30px 30px;
    margin: 0 auto;
}

.main-intro {
    background-color: rgba(239, 241, 243, 0.747);
    border-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    box-sizing: border-box;
    color: rgb(75, 79, 88);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13.680000305175781px;
    font-style: normal;
    font-weight: normal;
    margin: 20px auto;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    position: relative;
    width: auto;
    height: fit-content;
    /* word-wrap: break-word; */
}

.main-climate-change {
    background-color: rgba(239, 241, 243, 0.747);
    border-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    box-sizing: border-box;
    color: rgb(75, 79, 88);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13.680000305175781px;
    font-style: normal;
    font-weight: normal;
    height: 683.2352905273438px;
    line-height: 25.405712127685547px;
    margin: 20px auto;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    position: relative;
    width: auto;
    height: fit-content;
}

.main-stats {
    background-color: rgba(239, 241, 243, 0.747);
    border-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    box-sizing: border-box;
    color: rgb(75, 79, 88);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13.680000305175781px;
    font-style: normal;
    font-weight: normal;
    height: 683.2352905273438px;
    line-height: 25.405712127685547px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    width: auto;
    height: fit-content;
}

.main-conclusion {
    color: rgb(36, 84, 197);
    font-size: larger;
    font-weight: bold;
    line-height: 200%;
    ;
}

.main-list>h2 {
    padding-top: 20px;
    color: rgb(36, 84, 197);
}

.main-list>ul {
    padding: 10px;
    color: rgb(0, 0, 0);
}

.main-list>li {
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 7px;
    font-weight: bold;
}

.home--graph {
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.home--stats {
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.main-conclusion>h2 {
    padding: 5px;
}