*{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    margin: 0;
    background-color: #000000;
    color: white;
    padding: 30px auto;
    text-align: center;
}
.topnav {
    font-size: 20px;
    margin: 0 auto;
    padding-top: auto;
    padding-bottom: 20px;
    font-weight: bolder;
}
.topnav a {
    color: white;
    padding: 30px 30px;
    margin: 0 auto;
}

.site-name {
    font-family: ‘Kanit’;
    color: rgb(212, 61, 23);
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Who-We-Are {
    Text-align: center;
    border: 100px;
    
}

.Presentation {
    display: flex;
    width: fit-content;
}

.teamtitle{
    text-align: center;
    background-color: #00001A;
    color: rgb(212, 61, 23);
}


.team {
    margin: 0 auto;
   float: left;
   width: 30%;
   margin-bottom: 15px;
   padding: 0 8px;
   display: inline;
   text-align: center;
    
}


/* .row {
    width: 100%;
    margin: 0, auto;
} */

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: white;
    
}





