* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    margin: 0;
    background-color: #00001A;
    color: white;
    padding: 30px auto;
    text-align: center;
}

.topnav {
    font-size: 20px;
    margin: 0 auto;
    padding-top: auto;
    padding-bottom: 20px;
    font-weight: bolder;
}

.topnav a {
    color: white;
    padding: 30px 30px;
    margin: 0 auto;
}

.site-name {
    color: rgb(212, 61, 23);
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Who-We-Are {
    text-align: center;
    padding-top: 10px;
    border: 100px;

}

.who-we-are-paragraph {
    padding: 15px 50px;
    text-align: center;
    line-height: 200%;
}

.email-link {
    padding-top: 15px;
}

.team-title {
    padding: 20px auto;
    text-align: center;
    background-color: #00001A;
    color: rgb(212, 61, 23);
}

.team {
    margin: 0 auto;
    float: left;
    width: 30%;
    margin-bottom: 15px;
    padding: 20px 8px;
    display: inline;
    text-align: center;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: white;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0 auto;
    display: flex;
    margin: 0;
    padding: 0 auto;
    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;
}

.presentation>h1 {
    padding: 10px;
}